@model EatThemAllSettingsModel

<h1>Running</h1>
<div>
    <a href="@Url.Action("AddBot", "Home")">Add new bot</a>

    <h3>Players (@Model.Players.Count)</h3>
    @using (Html.BeginForm())
    {
        <ul>
            @foreach (var player in Model.Players)
            {
                <li>
                    @Html.HiddenFor(Model => player.Id)
                    <span>@player.Name (@player.Score)</span>
                    <a href="@Url.Action("KillPlayer", "Home", new { id = player.Id })">Kill</a>
                </li>
            }
        </ul>
    }
</div>

@section scripts{
    <script>
        //var eatThemAllHub = $.connection.eatThemAllHub;
        //console.log(eatThemAllHub);

        //$.connection.hub.start().done(function () {
        //    console.log("start");
        //});

        //$.connection.hub.disconnected(function () {
        //    console.log("disconnect");
        //});
    </script>
}